@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
  /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}
.navbar {
  z-index: 3;
  box-shadow: 0px 1px 5px #632673;
}
.navbar-brand {
  font-size: 1.9rem !important;
  color: #fff !important;
  font-weight: 600 !important;
  letter-spacing: 5px;
}
.navbar-brand:hover {
  color: rgb(3, 182, 236) !important;
  transition: 0.4s;
}
.navbar .nav-item {
  text-transform: capitalize;
  font-size: 1.2rem;
}
.nav-link:hover {
  color: rgb(3, 182, 236) !important;
}
.menu_active {
  font-weight: 600;
  border-bottom: 1px solid #565387;
}
.menu_active:hover {
  color: rgb(3, 182, 236);
}
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }
  .menu_active {
    border-bottom: none;
    font-weight: 600;
  }
  .menu_active:hover {
    color: #565387 !important;
  }
}

.backgroung {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: rgb(25, 0, 48);
}
.backgroung::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(#fffb03, #ff7300);
  clip-path: circle(30% at right 70%);
}
.backgroung::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(#03ff3a, #00ccff);
  clip-path: circle(20% at 10% 10%);
}
.container1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  z-index: 1;
  flex-wrap: wrap;
}
.container1 .card {
  position: relative;
  width: 380px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  color: white;
}
.container1 .card_signup {
  position: relative;
  width: 380px;
  height: 500px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  color: white;
}
.container1 .card .content {
  padding: 20px;
  text-align: center;
}
.container1 .card_signup .content {
  padding: 20px;
  text-align: center;
}
.container1 .card .content h2 {
  position: absolute;
  font-size: 5rem;
  font-weight: 700;
  top: -10px;
  right: 10px;
  color: rgba(255, 255, 255, 0.09);
  pointer-events: none;
}
.container1 .card_signup .content h2 {
  position: absolute;
  font-size: 5rem;
  font-weight: 700;
  top: 0px;
  right: 10px;
  color: rgba(255, 255, 255, 0.09);
  pointer-events: none;
}
.container1 .card .content h3 {
  font-size: 1.9rem;
  font-weight: 700;
  color: white;
  z-index: 1;
  margin: -80px;
}
.container1 .card_signup .content h3 {
  font-size: 1.9rem;
  font-weight: 700;
  color: white;
  z-index: 1;
  margin: -80px;
}
.container1 .card .content form {
  font-size: 1rem;
  color: white !important;
  z-index: 1;
  font-weight: 100;
  transform: translateY(100px);
  transition: 0.5s;
}
.container1 .card_signup .content form {
  font-size: 1rem;
  color: white !important;
  z-index: 1;
  font-weight: 100;
  transform: translateY(100px);
  transition: 0.5s;
}
.container1 .card .content .btn {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: -140px;
  text-decoration: none;
  background: #fff;
  color: black;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(100px);
  transition: 0.5s;
}
.container1 .card_signup .content .btn {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: -140px;
  text-decoration: none;
  background: #fff;
  color: black;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(100px);
  transition: 0.5s;
}
.bgOfHome {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 0, 48);
  min-width: 100%;
  min-height: 85vh;
}
.heading {
  color: #fff;
  font-weight: 800;
  font-size: 60px;
  letter-spacing: 3px;
  text-align: center;
}
@media (max-height: 789px) {
  .heading {
    font-size: 80px;
  }
}
.paragraph {
  color: rgb(204, 203, 203);
  text-align: center;
  margin-left: 0px;
}
@media (max-height: 700px) {
  .paragraph {
    margin-left: 400px;
    margin-right: 400px;
  }
}
.footer {
  background: #000;
  height: 55px;
  margin-bottom: 0px;
}
@media (max-height: 789px) {
  .footer {
    height: 35px;
  }
}
.footerContent {
  color: rgb(204, 203, 203);
  text-align: center;
  letter-spacing: 0px;
}
@media (max-height: 789px) {
  .footerContent {
    letter-spacing: 2px;
  }
}
